$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss';
@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';

// can add Boostrap overrides, additional Sass/CSS below...
$day-width: (100%)/7 - .5%;

ul
{ 
    list-style-type: none;
    padding: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.recipe-list li .edit {
    display: none;
}

.recipe-list li.editing .view {
    display: none;
}

.recipe-list li.editing .edit {
    display: block;
}

.recipe label {
    min-height: 2em;
    border-color: gray; 
    border-width:1px; 
    border-radius: 2px; 
    border-style: solid;
    margin: 2px;
    width: 90%;
}

.recipe input {
    min-height: 2em;
    margin: 2px;
    width: 90%;
}

.week .edit {
    display: none;
}

.week  .editing .view {
    display: none;
}

.week .editing .edit {
    display: block;
}

.no-padding {
    padding: 0;
}

.day {
    width: $day-width;
    float: left
}

