$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss';
@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';

// can add Boostrap overrides, additional Sass/CSS below...
$day-width: (100%)/7 - .5%;

ul
{ 
    list-style-type: none;
    padding: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.main {
    width: 75%;
    padding: 20px;
    vertical-align: middle;
}

.recipe-list li .edit {
    display: none;
}

.recipe-list li.editing .view {
    display: none;
}

.recipe-list li.editing .edit {
    display: block;
}

.recipe label {
    min-height: 2em;
    border-color: gray; 
    border-width:1px; 
    border-radius: 2px; 
    border-style: solid;
    margin: 2px;
    width: 90%;
}

.recipe input {
    min-height: 2em;
    margin: 2px;
    width: 90%;
}

.week .edit {
    display: none;
}

.week .editing .view {
    display: none;
}

.week .editing .edit {
    display: block;
}

.no-padding {
    padding: 0;
}

.day {
    width: $day-width;
    float: left
}

.recipe-results {
    min-height: 2em;
    margin: 2px;
    border-width:1px; 
    border-radius: 2px; 
    width: 90%;
}

.recipe-results ul li div:hover {
    background-color: deepskyblue;
}

.selected {
    background-color: red;
}


.autocomplete-menu {
    position: relative;
    margin-top: 5px;
    background: white;
    color: black;
    border: 1px solid #DDD;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    min-width: 120px;
}

.autocomplete-item {
    display: block;
    padding: 5px 10px;
    border-bottom: 1px solid #DDD;
    cursor: pointer;
}

.key-selected {
    background-color: #3366FF;
}

.mouse-selected {
    background-color: #ececec;
}

.autocomplete-list {
    list-style: none;
    padding: 0;
    margin: auto;
    max-height: 200px;
    overflow-y: auto;
}

.autocomplete-list-with-sections {
  list-style: none;
  padding: 0;
  margin: auto;
}

.autocomplete-input {
    min-width: 120px;
    color: black;
    font-size: 12px;
    padding: 4px;
    //border-radius: 4px;
    //background-color: white;
}

.autocomplete-section-list {
  list-style: none;
  padding: 0;
  margin: auto;
  max-height: 200px;
  overflow-y: auto;
}

.autocomplete-section-item {
  display: block;
  padding: 0;
}

.autocomplete-section-box {
  display: block;
  padding: 0;
  //border-top: 1px solid #888888;
  //border-bottom: 1px solid #888888;
}

.autocomplete-section-text {
  display: flex;
  justify-content: center;
}

